*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 100%;
}

.container{
    width: 100%;
}

.container-90 { 
    width: 90%;
    margin: 0 auto;
}

.bg-prod{
    background-color: #303030;
}

.products{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px;
}

.product{
     flex-basis: calc(100% / 6);
    .thumb{
        height: 200px;
        overflow: hidden;
    }
    .comic-name{
        width: 70%;
        padding: 0 3px;
         h2{
            color: white;
            font-size: 1.3em;
            margin-top: 7px;
            margin-bottom: 15px;
            font-weight: 500;
        }
    }
}